.page-break {
  height: 10px;
  width: 100%;
}
.logo-size {
  width: 40%;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
body {
  background: url(top-bg-img.jpg);
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Merriweather', serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Merriweather', serif;
  line-height: 1.5;
}
h1 {
  font-family: 'Merriweather', serif;
}
h2 {
  font-family: 'Merriweather', serif;
  padding-bottom: 20px;
}
h4 {
  font-family: 'Merriweather', serif;
  padding-bottom: 20px;
  font-size: 1rem;
}
p {
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.5;
  padding-bottom: 20px;
  text-align: center;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .container {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
  }
}
.aboutContainer {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .aboutContainer {
    max-width: 500px;
    width: 95%;
    margin: 0 auto;
  }
}
.navContainer {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}
.navContainer .navBar {
  width: 90%;
  height: 40px;
  font-size: 2.5rem;
  display: flex;
  justify-content: flex-end;
}
.navContainer .navBar a {
  text-decoration: none;
  color: #AC54AE;
  padding: 20px;
}
.navContainer .navBar a:hover {
  color: #F9931D;
  text-decoration: #AC54AE underline;
}
.navContainer .navBar .navBar a {
  text-decoration: none;
  color: black;
  font-size: 1em;
  padding: 20px;
}
@media (max-width: 500px) {
  .navContainer .navBar .navBar a {
    text-align: center;
    font-size: 0.5em;
    padding: 15px;
  }
}
.footer {
  flex-direction: column;
  width: 100%;
  height: 100px;
  background: #4A4A4A;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer h1 {
  text-align: center;
  color: #FFFFFF;
  font-size: 4rem;
}
.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  float: right;
  font-size: 2em;
  width: 100px;
  padding: 10px;
  height: 40px;
  margin-right: 40px;
  border-radius: 4px;
  background-color: #F9931D;
}
.headerContainer a {
  text-decoration: none;
  color: #4A4A4A;
}
.headerContainer a:hover {
  color: #329401;
}
.pageBreakOrange {
  height: 10px;
  width: 100%;
  background-color: #F9931D;
}
.pageBreakGray {
  height: 10px;
  width: 100%;
  background-color: #4A4A4A;
}
.logo {
  width: 75%;
  padding: 5% 0px 0px 5%;
}
.headerPhoto img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  width: 100%;
}
.missionStatement {
  color: #AC54AE;
  padding: 80px 0px 80px 0px;
  text-align: center;
  font-size: 6rem;
}
.teamInfo {
  color: #4A4A4A;
  text-align: center;
  padding-bottom: 60px;
  font-size: 3.5rem;
  width: 90%;
}
.aboutContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.aboutContainer a {
  text-decoration: none;
  color: #AC54AE;
  font-size: 1.5rem;
}
.aboutContainer a:hover {
  color: #F9931D;
}
@media (max-width: 500px) {
  .aboutContainer a:hover {
    flex-direction: column;
  }
}
.bioCard {
  text-align: center;
  padding: 10px;
  border: 3px solid #888888;
  border-radius: 1em;
  height: auto;
  width: 40%;
  padding: 20px;
  margin: 30px;
  color: #FFFFFF;
  background-color: #4A4A4A;
  font-size: 3rem;
}
.bioCard p {
  font-size: 2rem;
}
.bioCard img {
  width: 100%;
  border: 3px solid #F9931D;
  border-radius: 10px;
  margin-bottom: 15px;
}
.logo {
  width: 40%;
}
.logo img {
  width: 95%;
}
