//home content

// .about {

// }

.headerContainer {
    .btn-styling();

        a:hover {
            color: @green;
        }
}

.pageBreakOrange {
    .page-break();
    background-color: @orange;
}

.pageBreakGray {
    .page-break();
    background-color: @gray;
}

.logo {
    width: 75%;
    padding: 15px 0px 0px 15px;
}

.headerPhoto {
    display: flex;
    flex-direction: column;
    .center-content();
    margin-top: 60px;
    width: 100%;
}

.missionStatement {
    color: @magenta;
    padding: 40px 0px 40px 0px;
    text-align: center;
}

.teamInfo {
    color: @gray;
    text-align: center;
}

.aboutContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

        a {
            text-decoration: none;
            color: @magenta;
            font-size: 1.5rem;

            &:hover {
                color: @orange;

                @media @mobile {
                    flex-direction: column;
                }
            }
        }
}

.bioCard {
    text-align: center;
    .bio-card-styling();

    img {
        width: 100%;
        border: 2px solid @green;
        border-radius: 10px;
        margin-bottom: 15px;
    } 
}