//home content

// .about {

// }



.navContainer {
    width: 90%;

    .navBar {
        .nav-bar-styling()
    }
}

.missionStatement {
    color: @magenta;
}

.aboutContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bioCard {
    .bio-card-styling();
}

.footer {

}