.btn-styling() {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    float: right;
    font-size: 2em;
    width: 100px;
    padding: 10px;
    height: 40px;
    margin-right: 40px;
    border-radius: 4px;
    background-color: @orange;

        a {
            text-decoration: none;
            color: @gray;
        }
}

.center-content() {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar-styling() {
    width: 90%;
    height: 40px;
    font-size: 2.5rem;
    display: flex;
    justify-content: flex-end;

    a {
        text-decoration: none;
        color: @magenta;
        padding: 20px;

        &:hover {
            color: @orange;
            text-decoration: @magenta underline;
        }
    }
}

.veggie-img-styling() {
    border: 2px solid @orange;
    border-radius: 10px;
}

.bio-card-styling() {
    padding: 10px;
    border: 3px solid @light-gray;
    border-radius: 1.0em;
    height: auto;
    width: 40%;
    padding: 20px;
    margin: 30px; 
    color: @white;
    background-color: @gray;
    font-size: 3rem;

    p {
        font-size: 1.5rem;

        @media @mobile {
            font-size: 0.5rem;
        }
    }
}

.page-break {
    height: 10px;
    width: 100%;
}

.logo-size {
    width: 40%;
}

