// Colors
@orange: #f9931d;
@purple: #ac54ae;
@main-gray: #5a5a5a;
@green: #029345;
@light-gray: lighten(@main-gray, 50%);
@light-orange: lighten(@orange, 40%);

//Fonts
@h-font: "Merriweather";
@p-font: "Ubuntu";
